<footer class=" d-flex flex-column flex-md-row justify-content-between align-items-center p-3 "
    style="background-color: #4682B4;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);">
    <div class="col-md-4 d-flex align-items-center mb-3 mb-md-0">
        <a href="/" class="me-2 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap" />
            </svg>
        </a>
        <span class="text-white span-foot">&copy; 2024 LRcontt - Contabilidade Digital</span>
    </div>

    <div class="social-icons d-flex">
        <a href="https://facebook.com" target="_blank" class="social-icon facebook me-3">
            <i class="pi pi-facebook"></i>
        </a>
        <a href="https://linkedin.com" target="_blank" class="social-icon linkedin me-3">
            <i class="pi pi-linkedin"></i>
        </a>
        <a href="https://instagram.com" target="_blank" class="social-icon instagram">
            <i class="pi pi-instagram"></i>
        </a>
    </div>

</footer>

<!--<footer class="footer">
  <p>&copy; 2023 Contabilidade Charmosa. Todos os direitos reservados.</p>
  <div class="social-media">
      <a href="https://facebook.com" target="_blank">
          <i class="pi pi-facebook"></i>
      </a>
      <a href="https://linkedin.com" target="_blank">
          <i class="pi pi-linkedin"></i>
      </a>
      <a href="https://instagram.com" target="_blank">
          <i class="pi pi-instagram"></i>
      </a>
  </div>
 <div class="footer-container">
        <div class="footer-section">
            <h3>Sobre Nós</h3>
            <p>Somos uma empresa dedicada a oferecer as melhores soluções em tecnologia.</p>
        </div>
        <div class="footer-section">
            <h3>Links Úteis</h3>
            <ul>
                <li><a href="/sobre">Sobre Nós</a></li>
                <li><a href="/servicos">Serviços</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/politica-privacidade">Política de Privacidade</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contato</h3>
            <p>Email: contato.com</p>
            <p>Telefone: (11) 1234-5678</p>
        </div>
        <div class="footer-section">
            <h3>Redes Sociais</h3>
            <ul>
                <li><a href="https://facebook.com/empresa" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/empresa" target="_blank">Twitter</a></li>
                <li><a href="https://instagram.com/empresa" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Empresa. Todos os direitos reservados.</p>
    </div>
</footer>-->