<div class="container">
  <div class="title">
      <span class="title-text">One Product, </span>
      <span class="highlighted-text">Many Solutions</span>
  </div>
  <div class="subtitle">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div>
  <div class="grid">
      <div class="grid-item">
          <span class="icon-container">
              <i class="pi pi-desktop"></i>
          </span>
          <div class="item-title">Built for Developers</div>
          <div class="item-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
      </div>
      <div class="grid-item">
          <span class="icon-container">
              <i class="pi pi-lock"></i>
          </span>
          <div class="item-title">End-to-End Encryption</div>
          <div class="item-description">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin aliquam ultrices sagittis.</div>
      </div>
      <div class="grid-item">
          <span class="icon-container">
              <i class="pi pi-check-circle"></i>
          </span>
          <div class="item-title">Easy to Use</div>
          <div class="item-description">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</div>
      </div>
      <div class="grid-item">
          <span class="icon-container">
              <i class="pi pi-globe"></i>
          </span>
          <div class="item-title">Fast & Global Support</div>
          <div class="item-description">Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus.</div>
      </div>
      <div class="grid-item">
          <span class="icon-container">
              <i class="pi pi-github"></i>
          </span>
          <div class="item-title">Open Source</div>
          <div class="item-description">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat.</div>
      </div>
      <div class="grid-item">
          <span class="icon-container">
              <i class="pi pi-shield"></i>
          </span>
          <div class="item-title">Trusted Security</div>
          <div class="item-description">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</div>
      </div>
  </div>
</div>
<!--<section class="services">
    <h2 >Serviços</h2>
    <div class="service-card" *ngFor="let service of services">
      <h3>{{ service.title }}</h3>
      <p>{{ service.description }}</p>
    </div>
  </section>.services { 
    margin-top: 8%;
    padding: 0%;
  }
  
  .service-card {   
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
  }-->
  
